name: xiaomi_r3p
        cd openwrt
        rm -f . config
        cp ../xiaomi_r3p . config
          
    - name: Make Defconfig
      run: |
        cd openwrt
        make defconfig
          
    - name: Make download
      run: |
        cd openwrt
        make download -j8
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;
          
    - name: Multi-thread compile
      run: |
        cd openwrt
        echo -e "$(nproc) thread build."
        make -j$(nproc) V=s
          
    - name: Single-thread compile
      if: failure()
      run: |
        cd openwrt
        make -j1 V=s
          
    - name: Get current date
      id: currentdate
      run: echo "date=$(date +'%Y-%m-%d. %H. %M')" >> $GITHUB_OUTPUT
      
    - name: Assemble artifact
      run: |
        rm -rf ./artifact/
        mkdir -p ./artifact/
        find openwrt/bin/targets/ -name "*sysupgrade*bin*" | xargs -i mv -f {} ./artifact/${{ steps.currentdate.outputs.date }}.bin
        mv -f openwrt/bin/packages ./artifact/
          
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: OpenWrt firmware
        path: ./artifact/
    
    - name: Create Release and upload assets
      id: release-asset
      uses: ncipollo/release-action@v1
      with:
        tag: "XiaoMiR3P_${{ steps.currentdate.outputs.date }}"
        name: "XiaoMi_3Pro_${{ steps.currentdate.outputs.date }}"
        makeLatest: true
        generateReleaseNotes: true
        artifacts: "./artifact/*.bin,./artifact/**/*. ipk"
        body: |
          ## Release Notes 
          - This release includes the firmware for XiaoMi R3P router.
          - Please find the binary files in the assets section below. 
    
    - name: executing remote ssh commands using ssh key
      if: ${{ env.SSH_HOST != '' }}
      env:
        SSH_HOST: ${{ secrets. ssh_host }}
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.ssh_host }}
        username: ${{ secrets.ssh_user }}
        password: ${{ secrets. ssh_pass }}
        port: ${{ secrets. ssh_port }}
        script: |
          curl -4 -o /tmp/${{ steps.currentdate.outputs. date }}.bin -L https://github. com/GJayLG/openwrt-actions/releases/download/XiaoMiR3P_${{ steps.currentdate.outputs.date }}/${{ steps.currentdate.outputs.date }}.bin
          nohup sysupgrade -v /tmp/${{ steps. currentdate.outputs. date }}.bin>/dev/null 2>&1 &
